<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lucifer.finance">

    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            tools:targetApi="31"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="@string/app_name"
            android:icon="@mipmap/finance_logo"
            android:roundIcon="@mipmap/finance_logo_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Material3.Light">

        <activity
                android:name=".splash.SplashActivity"
                android:theme="@style/SplashTheme"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".MainActivity"
                android:exported="true"/>
        <activity android:name=".history.HistoryActivity" />
        <activity android:name=".transaction.TransactionDetailActivity" />
        <activity android:name=".auxilary.Policy" />
        <activity android:name=".auxilary.DeveloperInfo" />

        <service android:name=".smsfunctionality.SmsListenerService" />

        <receiver
                android:name=".smsfunctionality.SmsReceiver"
                android:permission="android.permission.BROADCAST_SMS"
                android:exported="false">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

    </application>

    <queries>
        <package android:name="com.google.android.gm" /> <!-- Gmail package -->
        <package android:name="com.microsoft.office.outlook" /> <!-- Outlook package -->
        <package android:name="com.yahoo.mobile.client.android.mail" /> <!-- Yahoo Mail package -->
    </queries>

</manifest>
