<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--          xmlns:tools="http://schemas.android.com/tools"-->
<!--          package="com.lucifer.finance">-->

<!--    <uses-feature android:name="android.hardware.telephony" android:required="false"/>-->
<!--    <uses-permission android:name="android.permission.RECEIVE_SMS"/>-->
<!--    <uses-permission android:name="android.permission.READ_SMS"/>-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

<!--    <application-->
<!--            android:allowBackup="true"-->
<!--            android:fullBackupContent="@xml/backup_rules"-->
<!--            tools:targetApi="31"-->
<!--            android:dataExtractionRules="@xml/data_extraction_rules"-->
<!--            android:label="@string/app_name"-->
<!--            android:icon="@mipmap/finance_logo"-->
<!--            android:roundIcon="@mipmap/finance_logo_round"-->
<!--            android:supportsRtl="true"-->
<!--            android:theme="@style/Theme.Material3.Light">-->

<!--        <activity-->
<!--                android:name=".splash.SplashActivity"-->
<!--                android:theme="@style/SplashTheme"-->
<!--                android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        <activity-->
<!--                android:name=".auth.LoginActivity"-->
<!--                android:exported="true">-->
<!--&lt;!&ndash;            <intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt;-->
<!--&lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
<!--&lt;!&ndash;            </intent-filter>&ndash;&gt;-->
<!--        </activity>-->

<!--        <activity-->
<!--                android:name=".auth.RegistrationActivity"-->
<!--                android:exported="true" />-->

<!--        <activity-->
<!--                android:name=".MainActivity"-->
<!--                android:exported="true"/>-->
<!--        <activity android:name=".history.HistoryActivity" />-->
<!--        <activity android:name=".transaction.TransactionDetailActivity" />-->
<!--        <activity android:name=".auxilary.Policy" />-->
<!--        <activity android:name=".auxilary.DeveloperInfo" />-->

<!--&lt;!&ndash;        <service android:name=".smsfunctionality.SmsListenerService" />&ndash;&gt;-->

<!--&lt;!&ndash;        <receiver&ndash;&gt;-->
<!--&lt;!&ndash;                android:name=".smsfunctionality.SmsReceiver"&ndash;&gt;-->
<!--&lt;!&ndash;                android:permission="android.permission.BROADCAST_SMS"&ndash;&gt;-->
<!--&lt;!&ndash;                android:exported="false">&ndash;&gt;-->
<!--&lt;!&ndash;            <intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;        </receiver>&ndash;&gt;-->

<!--        &lt;!&ndash; Declare the SmsReceiver and enforce BROADCAST_SMS permission &ndash;&gt;-->
<!--        <receiver-->
<!--                android:name=".smsfunctionality.SmsReceiver"-->
<!--                android:exported="true"-->
<!--                android:permission="android.permission.BROADCAST_SMS">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        &lt;!&ndash; SmsListenerService should require proper permission or be non-exported &ndash;&gt;-->
<!--        <service-->
<!--                android:name=".smsfunctionality.SmsListenerService"-->
<!--                android:enabled="true"-->
<!--                android:exported="false"-->
<!--                android:foregroundServiceType="shortService" />-->

<!--    </application>-->

<!--    <queries>-->
<!--        <package android:name="com.google.android.gm" /> &lt;!&ndash; Gmail package &ndash;&gt;-->
<!--        <package android:name="com.microsoft.office.outlook" /> &lt;!&ndash; Outlook package &ndash;&gt;-->
<!--        <package android:name="com.yahoo.mobile.client.android.mail" /> &lt;!&ndash; Yahoo Mail package &ndash;&gt;-->
<!--    </queries>-->

<!--</manifest>-->




<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lucifer.finance">

    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            tools:targetApi="31"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="@string/app_name"
            android:icon="@mipmap/finance_logo"
            android:roundIcon="@mipmap/finance_logo_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Material3.Light">

        <activity
                android:name=".splash.SplashActivity"
                android:theme="@style/SplashTheme"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                 android:name=".auth.LoginActivity"
                 android:exported="true">
        </activity>
        <activity
                 android:name=".auth.RegistrationActivity"
                 android:exported="true" />
        <activity
                 android:name=".MainActivity"
                 android:exported="true"/>
        <activity android:name=".history.HistoryActivity" />
        <activity android:name=".transaction.TransactionDetailActivity" />
        <activity android:name=".auxilary.Policy" />
        <activity android:name=".auxilary.DeveloperInfo" />
        <activity android:name=".auth.UserProfileActivity" />
        <activity android:name="com.yalantis.ucrop.UCropActivity"
                  android:screenOrientation="portrait"/>

        <service android:name=".smsfunctionality.SmsListenerService"
                 android:foregroundServiceType="shortService"/>

        <receiver
                android:name=".smsfunctionality.SmsReceiver"
                android:permission="android.permission.BROADCAST_SMS"
                android:exported="false">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

    </application>

    <queries>
        <package android:name="com.google.android.gm" /> <!-- Gmail package -->
        <package android:name="com.microsoft.office.outlook" /> <!-- Outlook package -->
        <package android:name="com.yahoo.mobile.client.android.mail" /> <!-- Yahoo Mail package -->
    </queries>

</manifest>
